<div class="text-info p-3">
  <div *ngIf="currentStep === StepType.PICK_A_CARD">
    <p>
      {{ this.activeTeam }}
      <pictionary-card-picker
        (cardPickedEvent)="bubbleCardPicked($event)"
      ></pictionary-card-picker>
    </p>
  </div>
  <div *ngIf="currentStep === StepType.GUESS">
    <p>
      Start the timer. {{ this.activeTeam }}, you have one minute to draw and
      guess!
    </p>
  </div>
  <div *ngIf="currentStep === StepType.UPDATE_SCORES">
    <p>
      End of the current turn. Update scores and remind to take a picture for
      posterity.
    </p>
  </div>
</div>
