<div class="text-light">
  <h3>Preparation:</h3>
  <ul class="p-3">
    <li class="list-group-item mb-2">
      Choose a referee who will track the time and score. The referee will use the app following the blue text as a
      guideline.
    </li>
    <li class="list-group-item mb-2">
      Split into two teams, Team A and Team B, to compete in several rounds. Each round will have two turns, one for
      Team A to draw and another for Team B to draw.
    </li>
  </ul>
  <h3>Game:</h3>
  <ol class="list-group-numbered p-3">
    <li class="list-group-item mb-2">
      The first team will choose a person to draw. The referee will hand over the app to the person to pick a Celonis
      Product card to draw by clicking on the <em>"pick a card"</em> text.
    </li>
    <li class="list-group-item mb-2">
      The referee will start the timer. The person has 1 minute to draw the product and the team to guess it right. If
      the team does, they will win <strong>2 points</strong>.
    </li>
    <li class="list-group-item mb-2">
      If the team guesses the product correctly, they will have the opportunity to win <strong>1 extra point</strong> if
      they can describe the product and explain when to pitch it. The referee can check the description using the app.
    </li>
    <li class="list-group-item mb-2">
      If the time ends and the team does not guess the product, the opposite team will have the opportunity to win the
      points.
    </li>
    <li class="list-group-item mb-2">The referee will update the score and the turn will end. Now it is the turn of the
      other team.</li>
    <li class="list-group-item mb-2">Play 4 or 5 rounds to find out who is the best team!</li>
  </ol>
  <a routerLink="/play" class="btn btn-lg btn-light fw-bold"> Continue </a>
</div>