<main class="px-3">
  <h3>Instructions</h3>
  <ol class="list-group-numbered">
    <li class="list-group-item mt-3 mb-2">Choose a drawer and pick a new Celonis product</li>
    <li class="list-group-item mb-2">The time starts. You have 1 minute to draw and your team to guess the right product. If your team does, you win <strong>2 points</strong>.</li>
    <li class="list-group-item mb-2">If you guess correctly, you have the opportunity to win <strong>1 extra point</strong> if you described the product correctly.</li>
    <li class="list-group-item mb-3">If the time ends and your team did not guess the product, the other team have the opportunity to win the points.</li>
  </ol>
  <p class="lead">
    <a
      routerLink="play"
      routerLinkActive="active"
      class="btn btn-lg btn-light fw-bold border-white bg-white"
    >
    Continue
    </a>
  </p>
</main>
