<div class="modal fade show" tabindex="-1" [ngStyle]="{ display : display }">
  <div class="modal-dialog modal-dialog-centered text-dark rounded p-2">
    <div class="modal-content">
      <div class="modal-body">
        <p>{{ this.getDescription() }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<a type="button" class="text-info text-decoration-underline" (click)="openModal()">
  <ng-content></ng-content>
</a>