<div class="modal fade show" tabindex="-1" [ngStyle]="{ display: display }">
  <div class="modal-dialog modal-dialog-centered text-dark rounded p-2">
    <div class="modal-content">
      <div class="modal-body">
        <p class="display-5 text-center" *ngIf="this.winner; else tieMessage">{{ this.winner }} is the winner!</p>
        <ng-template #tieMessage>
          <p class="display-5 text-center">You tied!</p>
        </ng-template>
        <p>Click <a routerLink="/home">here</a> to play again</p>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <button type="button" class="btn btn-lg btn-light fw-bold" (click)="openModal()">
    Finish game
  </button>
</div>