<div class="modal fade show" tabindex="-1" [ngStyle]="{ display: display }">
  <div class="modal-dialog modal-dialog-centered text-dark rounded p-2">
    <div class="modal-content">
      <div class="modal-body">
        <p class="display-5 text-center" *ngIf="!this.winner; else winnerMessage">You tied!</p>
        <ng-template #winnerMessage>
          <p class="display-3 text-center">{{ this.winner }} is the winner!</p>
          <p class="display-5 text-center">Download your <a href="https://javierdearcos.github.io/celonis-pictionary/assets/prize.zip">prize</a></p>
        </ng-template>
        <p class="text-center">Click <a routerLink="/home">here</a> to play again</p>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <button type="button" class="btn btn-lg btn-light fw-bold" (click)="openModal()">
    Finish game
  </button>
</div>